.stButton>button {
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
}

.main .block-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

[data-testid="stSidebar"][aria-expanded="true"] {
    min-width: 0px;
    max-width: 250px;
}

@keyframes gradient-move {
    0% {
        background-position: 200% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-text {
    background: linear-gradient(to right, #d20051, #8d3cff, #5ffaff, #00ef9f);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-move 5s linear infinite;
    font-size: 24px;
    font-weight: bold;
}

[data-testid="column"] {
    background-color: rgb(44, 0, 83);
    border: 2px solid rgb(203, 145, 255);
    padding: 10px;
    border-radius: 3%;
}

@keyframes borderMove {
    0% {
        border-image: linear-gradient(0deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }

    50% {
        border-image: linear-gradient(180deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }

    100% {
        border-image: linear-gradient(360deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }
}

#text_area_1 {
    border: 2px solid;
    border-image-slice: 1;
    border-image: linear-gradient(90deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    animation: borderMove 3s linear infinite;
}