@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.main .block-container {

    padding-top: 3rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

[data-testid="stSidebar"][aria-expanded="true"] {
    min-width: 0px;
    max-width: 240px;
}

.container {
    background-color: #80ecff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif;
}

.controls-container {
    background-color: #80ecff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Merriweather', serif;
}

iframe {
    max-height: 200px;
}

[data-testid="stForm"] {
    background-color: rgba(86, 84, 80, 0.637);
    border: 2px solid rgb(255, 255, 255);
}

.stButton button {
    border: 2px solid white;
}

@keyframes borderMove {
    0% {
        border-image: linear-gradient(0deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }

    50% {
        border-image: linear-gradient(180deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }

    100% {
        border-image: linear-gradient(360deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    }
}

#text_area_1 {
    border: 2px solid;
    border-image-slice: 1;
    border-image: linear-gradient(90deg, #00ef9f, #5ffaff, #fd0866, #8d3cff) 1;
    animation: borderMove 3s linear infinite;
}